{% load static %}

<footer class="footer">
  <div class="site-footer-wrapper">
    <nav class="footer-nav">
      <a href="{% url 'home' %}" class="footer-link">($ cd ~)</a>

      <a href="https://ko-fi.com/rafaelco" target="_blank" class="footer-link"
        >Buy me a coffee</a
      >
      <a href="{% url 'user-account' %}">My account</a>
    </nav>
    <div class="footer-thanks">
      <p class="footer-creds">
        Design inspired by
        <a
          class="footer-link"
          target="_blank"
          href="https://www.taniarascia.com/"
          >Tania Rascia</a
        >
      </p>
      <p class="footer-creds">
        Powered by
        <a
          class="footer-link"
          target="_blank"
          href="https://www.djangoproject.com/"
          >Django</a
        >
      </p>

      <p class="footer-creds">
        This website is open source:<a
          target="_blank"
          href="https://github.com/zft9xgy/rafaelcosquiere.com"
          >Github repo</a
        >
      </p>
    </div>
  </div>
</footer>
<!-- end Footer-->
