{% load static %}

<footer class="footer">
  <div class="site-footer-wrapper">
    <nav class="footer-nav">
      <a href="{% url 'home' %}" class="footer-link">($ cd ~)</a>

      <a href="https://ko-fi.com/rafaelco" target="_blank" class="footer-link"
        >Invitame a un café</a
      >
    </nav>
    <p class="footer-creds">
      Design heavily inspired by
      <a target="_blank" href="https://www.taniarascia.com/">Tania Rascia</a>
      (thanks)
    </p>
  </div>
</footer>
<!-- end Footer-->
