{% extends 'base/base.html' %} {% block content %}

<!-- Main Section -->
<main class="s-content">
  <div class="row row-x-center">
    <div class="s-content__main large-8 column">
      <br />

      <form class="form" action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{object}}"?</p>

        <a class="btn btn--sub btn--lg my-md" href="{% url 'home' %}"
          >Go Back to Admin panel</a
        >

        <input
          class="btn btn--sub btn--lg my-md"
          type="submit"
          value="Confirm"
        />
      </form>
    </div>
  </div>
</main>

{% endblock %}
