{% extends 'base/base.html' %} {% load static %} {% load thumbnail %}

<!-- -->
{% block content %}

<main class="page-wrapper single-note">
  <section class="section single-note-section">
    <div class="section-header">
      <h1 class="page-title">{{note.title}}</h1>
      {% if note.excerpt %}
      <p class="section-description">{{note.excerpt}}</p>
      {% endif %}
    </div>
  </section>

  {% if note.featured_image.url %}
  <!-- -->
  {% if note.featured_image.default_alt_text %}
  <!-- -->
  <img
    src="{% thumbnail note.featured_image 800x400 crop upscale subject_location=note.featured_image.subject_location %}"
    alt="{{note.featured_image.default_alt_text}}"
  />
  {% else %}
  <img
    src="{% thumbnail note.featured_image 800x400 crop upscale subject_location=note.featured_image.subject_location %}"
    alt="{{note.title}} featured image"
  />
  {% endif %} {% endif %}

  <hr />

  <div class="single-note-content content">
    {{note.content | markdown |safe }}
  </div>

  <section class="section single-note-after-content">
    <div class="about-col">
      <span>About me</span>
      <div>
        <p>
          I'm <a href="{% url 'page' 'about' %}"></a>Rafael Cosquiere</a>, and I love everything related to web
          development, Python and Django among others. Currently I work in
          digital marketing specializing in SEO and in my limited free time I
          develop this website and <a href="{% url 'projects' %}"></a>other projects</a>. 
        </p>
        <p>If you like the content feel
          free to share or comment.</p>
      </div>
    </div>
    <div class="meta-col">
      <div class="single-note-meta-box">
        <span>Note Metadata</span>
        <!-- for second version-->
        <!-- <div class="word-count">Words: 500</div>
        <div class="reading-time">Reading time: 5 min</div> -->
        <div class="publish-date">Published: {{note.created_date}}</div>
        <div class="update-date">Last updated: {{note.updated_date}}</div>
        <div class="note-tags">
          <span>Tags:</span>
          <br />
          <!-- -->
          {% for tag in note.tags.all %}
          <a href="{% url 'tag' tag.slug %}" class="note-tag">#{{tag.name}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% include 'components/section-comments.html' %}
</main>

{% endblock %}
