{% extends 'base/base.html' %} {% load static %}

<!-- -->
{% block content %}

<main class="page-wrapper page-tag">
  <section class="tags-section section">
    <div class="section-header">
      <h1 class="page-title"><span class="hashtag">#</span>{{tag.name}}</h1>
    </div>

    <!-- en., feb., mar., abr., may., jun., jul., ag. (agto.), set. (sept.), oct., nov., dic.» -->
    <div class="tag-section">
      <div class="tag-notes-list">
        {% for note in tag.notes.all %}
        <article class="note">
          <a href="{% url 'note' note.slug %}" class="note-link">
            <h3 class="note-title">{{note.title}}</h3>
            <time class="note-date">{{note.created_date | date:'M d' }}</time>
          </a>
        </article>
        {% endfor %}
      </div>
    </div>
    <div class="other-tags">
      <h2>Other tags</h2>
      <div class="tags">
        {% for t in tags %}
        <a class="tag" href="{% url 'tag' t.slug %}"
          ><h3 class="tag-title">
            <span class="hashtag">#</span>{{t.name}}
          </h3></a
        >

        {% endfor %}
      </div>
    </div>
  </section>
</main>

{% endblock %}
