{% extends 'base/base.html' %} {% load static %}

<!-- -->
{% block content %}

<main class="page-wrapper single-note">
  <section class="single-note-section section">
    <div class="section-header">
      <h1 style="text-align: center" class="page-title">Error 404</h1>
      <p>
        A 404 error is like trying to open a door, but when you get there you
        realise that there is no door. On the web, when you see a 404 error, it
        means that the page you are looking for is currently unavailable. It
        could be because the link is broken or the page was deleted. It's as if
        you are lost in a maze and can't find your way out.
      </p>
      <p>
        <a href="{% url 'home' %}">Go back to the home page and start again.</a>
      </p>
    </div>
  </section>
</main>

{% endblock %}
