{% extends 'base/base.html' %} {% load static %}

<!-- -->
{% block content %}

<main class="page-wrapper single-note">
  <section class="single-note-section section">
    <div class="section-header">
      <h1 style="text-align: center" class="page-title">Error 500</h1>
      <p>
        A 500 error is like walking into a room and finding everything in chaos.
        On the web, when you see a 500 error, it means that something went wrong
        on the server and it can't fulfill your request. It could be because the
        server is overloaded, there's a bug in the code, or some other internal
        issue. It's as if you're trying to have a conversation, but the other
        person is too overwhelmed to respond coherently.
      </p>
    </div>
  </section>
</main>

{% endblock %}
