{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- muy importante mantener el formato en jinga o da problemas de renderizado la plantilla -->
<main class="page-wrapper">
  <h2>My Account</h2>
  <p>
    Thanks for joining my newsletter list. Here you can find your preferences
    and be able to unsuscribe, delete your account, change your password or
    delete your account.
  </p>

  <div>
    <ul>
      <li>Email: {{user.email}}</li>
      <li>Date joined: {{user.date_joined}}</li>
      <li>Is active?: {{user.is_active}}</li>
    </ul>
  </div>

  <div>
    <h2>Control</h2>
    <a class="button" href="{% url 'user-logout' %}">Logout</a>
    <a class="button" href="{% url 'password_reset' %}">Reset password</a>
  </div>

  <hr />
  <div>
    <h2>Danger zone</h2>
    Do you want to delete your account?
    <a href="{% url 'user-delete' %}">Delete me account</a>
  </div>
</main>
{% endblock %}
