{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- muy importante mantener el formato en jinga o da problemas de renderizado la plantilla -->
<main class="page-wrapper">
  <div class="w500 x-center">
    <div class="card">
      <div class="auth__header text-center">
        <h3>Register an Account</h3>
        <p>Create a new developer account</p>
      </div>

      <form method="POST" action="{% url 'user-register' %}">
        {% csrf_token %} {% for field in form %}
        <div class="form__field">
          <label for="formInput#text">{{field.label}}</label>
          {{field}} {% for error in field.errors %}
          <p style="color: red">{{error}}</p>
          {% endfor %}
        </div>

        {% endfor %}

        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
        </div>
      </form>
      <div class="auth__alternative">
        <p>Already have an Account?</p>
        <a href="{% url 'user-login' %}">Log In</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
